VITE_EMAILJS_SERVICE_ID=service_yk7ywkz
VITE_EMAILJS_TEMPLATE_ID=template_sq4uq5r
VITE_EMAILJS_PUBLIC_KEY=v52p7NQApTZ3Px_zM
VITE_GOOGLE_SHEET_TSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vRRxs70b1-0PBLYmqzSa0SJlVxwRQgL4W5ace_XMNzDUDCesP50npiE1y_Q1nYfVZnk8DSjmlU65Ek6/pub?output=tsv
